<div class="container">
    
    <div class="pt20 pb80" style="margin-top:80px">
        <div class="row">
          <div class="login-box col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <h3>Registrate Hoy!</h3>

             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0') do |f| %>
                <% if @user.errors.any? %>
                <%m=''%>
                  <% @user.errors.full_messages.each  do |message| %>
                  <% m = m +  message +  "     " %>
                  <% end %>
                  <%m.gsub!("'", '')%>
                  <script>
                    sweetAlert("<%= @user.errors.count%>" + " Errores  No permitieron guardar el usuario: ", "<%= m %>", "error");
                  </script>
                <% end %>


              <div class="col-md-6">
                <div class="field">
                  <%= f.text_field :name, placeholder: "Nombre" %>
                </div>
                <div class="field">
                  <%= f.email_field :email, placeholder: "Email" %>
                </div>
                <div class="field">
                  <%= f.text_field :btc, placeholder: "Monedero" %>
                </div>
                <div class="field">
                  <%= f.telephone_field :phone, id:"country", placeholder: "Phone"%>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="field">
                <%= f.email_field :refferal, placeholder: "Email del referido"  %>
                </div>
                <div class="field">
                  <%@password_min = ""%>
                  <% if @minimum_password_length %>
                    <% @password_min = @minimum_password_length.to_s + " characters minimum" %>
                  <%end%>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Password " + @password_min %>
                </div>
                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
                </div>
                <div class="field">
                  <button type="button" data-toggle="modal" data-target="#exampleModalLong" style="background-color: transparent; text-decoration: underline; padding-bottom: 0;">
                    <%= f.label "Acepto terminos y condiciones."%>
                  </button>
                  <div class="text-center">
                    <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                  <%= recaptcha_tags %>
                  <div class="actions">
                    <%= f.submit "Sign up", class: 'button button-md btn-block button-primary' %>
                  </div>
                  <br>
                </div>
              </div>
            <% end %>
          </div>
        </div><!-- //row -->          
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terminos Y Condiciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Las presentes Condiciones de uso (“Condiciones”) regulan el acceso o uso que usted haga, como persona, desde cualquier país de Latinoamérica a aplicaciones, páginas web, contenido, productos y servicios (los “Servicios”) puestos a disposición por DonatingGoals.
<br>
<br>
LEA ESTAS CONDICIONES DETENIDAMENTE ANTES DE ACCEDER O USAR LOS SERVICIOS.
<br>
<br>
Mediante su acceso y uso de los Servicios usted acuerda vincularse por estas Condiciones, que establecen una relación entre usted y DonatingGoals
. Si usted no acepta estas Condiciones, no podrá acceder o usar los Servicios. Estas Condiciones sustituyen expresamente los acuerdos o compromisos previos con usted. DonatingGoals
 podrá poner fin de inmediato a estas Condiciones o cualquiera de los Servicios respecto de usted o, en general, dejar de ofrecer o denegar el acceso a los Servicios o cualquier parte de ellos, en cualquier momento y por cualquier motivo.
<br>
<br>
Se podrán aplicar condiciones suplementarias a determinados Servicios, como políticas para un evento, una actividad o una promoción particular, y dichas condiciones suplementarias se le comunicarán en relación con los Servicios aplicables. Las condiciones suplementarias se establecen además de las Condiciones, y se considerarán una parte de estas, para los fines de los Servicios aplicables. Las condiciones suplementarias prevalecerán sobre las Condiciones en el caso de conflicto con respecto a los Servicios aplicables.
<br>
<br>
DonatingGoals
 podrá modificar las Condiciones relativas a los Servicios cuando lo considere oportuno. Las modificaciones serán efectivas después de la publicación por parte de DonatingGoals
 de dichas Condiciones actualizadas en esta ubicación o las políticas modificadas o condiciones suplementarias sobre el Servicio aplicable. Su acceso o uso continuado de los Servicios después de dicha publicación constituye su consentimiento a vincularse por las Condiciones y sus modificaciones.
<br>
<br>
La recopilación y el uso que hacemos de la información personal en relación con los Servicios es conforme se dispone en la Política de privacidad de DonatingGoals
. DonatingGoals
 podrá facilitar a un procesador de reclamaciones (incluida su información de contacto) si hubiera quejas, disputas o conflictos, implicándole a usted y a un tercero y dicha información o dichos datos fueran necesarios para resolver la queja, la disputa o el conflicto.
<br>
<br>


2. Los Servicios
<br>
<br>
Los Servicios constituyen una plataforma de tecnología que permite a los usuarios de aplicaciones móviles de DonatingGoals
 o páginas web proporcionadas como parte de los Servicios (cada una, una “Aplicación”) realizar y recibir donaciones financieras de manera voluntaria y mutua, conforme a un acuerdo con DonatingGoals
. Los Servicios se ponen a disposición solo para su uso personal, no comercial. USTED RECONOCE QUE DonatingGoals
 NO PRESTA SERVICIOS DE COMISIONISTA NO ES INTERMEDIARIO PARA LAS TRANSACCIONES ENTRE LOS USUARIOS, NI MANEJA O MANIPULA LOS DINEROS DE LOS USUARIOS, SÓLO FUNCIONA COMO UN CANAL DE CONEXIÓN Y COMUNIACIÓN ENTRE LOS USUARIOS.
<br>
<br>
Restricciones.
<br>
<br>
Usted no podrá: (i) retirar cualquier nota de derechos de autor, marca registrada u otra nota de propiedad de cualquier parte de los Servicios; (ii) reproducir, modificar, preparar obras derivadas sobre los Servicios, distribuir, licenciar, arrendar, revender, transferir, exhibir públicamente, presentar públicamente, transmitir, retransmitir o explotar de otra forma los Servicios, excepto como se permita expresamente por DonatingGoals
; (iii) descompilar, realizar ingeniería inversa o desmontar los Servicios, excepto como se permita por la ley aplicable; (iv) enlazar, reflejar o enmarcar cualquier parte de los Servicios; (v) causar o lanzar cualquier programa o script con el objeto de extraer, indexar, analizar o de otro modo realizar prospección de datos de cualquier parte de los Servicios o sobrecargar o bloquear indebidamente la operación y/o funcionalidad de cualquier aspecto de los Servicios; o (vi) intentar obtener un acceso no autorizado o dañar cualquier aspecto de los Servicios o sus sistemas o redes relacionados.
<br>
<br>
Prestación de los Servicios.
<br>
<br>
Usted reconoce que partes de los Servicios podrán ponerse a disposición bajo varias marcas u opciones de servicios de DonatingGoals
 asociadas con las donaciones mutuas. Asimismo, usted reconoce que los Servicios podrán ponerse a disposición bajo dichas marcas u opciones de pedidos por o en relación con: (i) ciertas subsidiarias o afiliados de DonatingGoals
.
<br>
<br>
Servicios y contenido de Terceros.
<br>
<br>
Los Servicios podrán ponerse a disposición o ser accesible en relación con servicios y contenido de terceros (incluida la publicidad) que DonatingGoals
 no controle. Usted reconoce que podrán ser de aplicación diferentes condiciones y políticas de privacidad al uso que haga de dichos servicios y contenido de terceros. DonatingGoals
 no respalda dichos servicios y contenido de terceros y en ningún caso DonatingGoals
 será responsable de cualquier producto o servicio de dichos terceros proveedores. Adicionalmente, Apple Inc., Google, Inc., Microsoft Corporation o BlackBerry Limited y/o sus correspondientes subsidiarias o afiliados internacionales serán terceros beneficiarios en este acuerdo si usted accede a los Servicios utilizando Aplicaciones desarrolladas para dispositivos móviles con sistema iOS, Android, Microsoft Windows, respectivamente. Estos terceros beneficiarios no son parte de este acuerdo y no son responsables de la prestación o apoyo de los Servicios de ninguna manera. Su acceso a los Servicios utilizando estos dispositivos se sujeta a las condiciones establecidas en las condiciones de servicio de terceros beneficiarios aplicables.
<br>
<br>
Titularidad.
<br>
<br>
Los Servicios y todos los derechos relativos a estos son y permanecerán de la propiedad de DonatingGoals
 o sus usuarios. Ninguna de estas Condiciones ni su uso de los Servicios le transfieren u otorgan ningún derecho a utilizar o mencionar en cualquier modo a los nombres de empresa, logotipos, nombres de producto y servicio, marcas comerciales o marcas de servicio de DonatingGoals
 o de sus usuarios.
<br>
<br>
3. Su uso de los Servicios
<br>
<br>
Cuentas de usuario.
<br>
<br>
Con el fin de usar la mayor parte de los aspectos de los Servicios, usted debe registrarse y mantener activa una cuenta personal de usuario de los Servicios (“Cuenta”). Para obtener una Cuenta debe tener como mínimo 18 años, o tener la mayoría de edad legal en su jurisdicción (si es distinta a los 18 años). El registro de la cuenta le requiere que comunique a DonatingGoals
 determinada información personal, como su nombre, número de teléfono móvil, así como por lo menos una cuenta válida para recibir las donaciones o ayudas financieras (DonatingGoals
 siempre recomienda el uso de cuentas Bitcoin). Usted se compromete a mantener la información en su Cuenta de forma exacta, completa y actualizada. Si no mantiene la información de Cuenta de forma exacta, completa y actualizada, incluso el tener una cuenta bancaria inválida o que haya vencido, podrá resultar en su imposibilidad para acceder y utilizar los Servicios o en la resolución por parte de DonatingGoals
 de esta Condiciones. Usted es responsable de toda la actividad que ocurre en su Cuenta y se compromete a mantener en todo momento de forma segura y secreta el nombre de usuario y la contraseña de su Cuenta. A menos que DonatingGoals
 permita otra cosa por escrito, usted solo puede poseer una Cuenta.
<br>
<br>
Requisitos y conducta del usuario.
<br>
<br>
El Servicio no está disponible para el uso de personas menores de 18 años. Usted no podrá autorizar a terceros a utilizar su Cuenta, asimismo no podrá permitir a personas menores de 18 años que reciban donaciones o realizarlas. No podrá ceder o transferir de otro modo su Cuenta a cualquier otra persona o entidad. Usted acuerda cumplir con todas las leyes aplicables al utilizar los Servicios y solo podrá utilizar los Servicios con fines legítimos (p. ej., no para realizar transacciones de dinero para el lavado de activos). En el uso de los Servicios, no causará estorbos, molestias, incomodidades o daños a la propiedad, tanto al usuario tercero como a cualquier otra parte.
<br>
<br>
Mensajes de texto.
<br>
<br>
Al crear una Cuenta, usted acepta que los Servicios le puedan enviar mensajes de texto informativos (SMS) como parte de la actividad comercial normal de su uso de los Servicios. Usted podrá solicitar la no recepción de mensajes de texto informativos (SMS) de DonatingGoals
 en cualquier momento enviando un correo electrónico a soporte@DonatingGoals
office.com indicando que no desea recibir más dichos mensajes, junto con el número de teléfono del dispositivo móvil que recibe los mensajes. Usted reconoce que solicitar la no recepción de mensajes de texto informativos (SMS) podrá afectar al uso que usted haga de los Servicios.
<br>
<br>
Bonos.
<br>
<br>
DonatingGoals
 podrá, a su sola discreción, crear Bonos que podrán ser canjeados por donaciones a la Cuenta u otros elementos o beneficios relacionados con los Servicios, con sujeción a cualquier condición adicional que DonatingGoals
 establezca sobre la base de cada bono. Usted acuerda que los Bonos: (i) podrán ser invalidados por DonatingGoals
 en cualquier momento por cualquier motivo sin responsabilidad para DonatingGoals
; (ii) podrán usarse solo conforme a las condiciones específicas que DonatingGoals
 establezca para dicho Bono; (iii) no son válidos como efectivo; y (iv) podrán caducar antes de que usted los utilice. DonatingGoals
 se reserva el derecho de bloquear el valor en donaciones obtenidos a través de la utilización de los Bonos por usted o cualquier otro usuario en el caso de que DonatingGoals
 determine o crea que el uso o el canje de los Bonos fue de modo erróneo, fraudulento, ilegal o infringiendo las condiciones del Bono o las presentes Condiciones.
<br>
<br>
Contenido proporcionado por el Usuario.
<br>
<br>
DonatingGoals
 podrá, a su sola discreción, permitirle cuando considere oportuno, que envíe, cargue, publique o de otro modo ponga a disposición de DonatingGoals
 a través de los Servicios contenido e información de texto, audio y/o visual, incluidos comentarios, testimonios y opiniones relativos a los Servicios, solicitud de soporte(“Contenido de usuario”). Todo Contenido de usuario facilitado por usted seguirá siendo de su propiedad. No obstante, al proporcionar Contenido de usuario a DonatingGoals
, usted otorga una licencia mundial, perpetua, irrevocable, transferible, libre de regalías, con derecho a sublicenciar, usar, copiar, modificar, crear obras derivadas, distribuir, exhibir públicamente, presentar públicamente o de otro modo explotar de cualquier manera dicho Contenido de usuario en todos los formatos y canales de distribución, conocidos ahora o ideados en un futuro (incluidos en relación con los Servicios de DonatingGoals
 y en sitios y servicios de terceros), sin más aviso o consentimiento de usted y sin requerirse el pago a usted o a cualquier otra persona o entidad.
<br>
<br>
Usted declara y garantiza que: (i) es el único y exclusivo propietario de todo el Contenido de usuario o que tiene todos los derechos, consentimientos y permisos necesarios para otorgar a DonatingGoals
 la licencia al Contenido de usuario como establecido anteriormente; y (ii) ni el Contenido de usuario ni su presentación, carga, publicación o puesta a disposición de otro modo de dicho Contenido de usuario, ni el uso por parte de DonatingGoals
 del Contenido de usuario como está aquí permitido, infringirán, malversarán o violarán la propiedad intelectual o los derechos de propiedad de un tercero o los derechos de publicidad o privacidad o resultarán en la violación de cualquier ley o reglamento aplicable.
<br>
<br>
Usted acuerda no proporcionar Contenido de usuario que sea difamatorio, calumnioso, odioso, violento, obsceno, pornográfico, ilícito o de otro modo ofensivo, como determine DonatingGoals
, a su sola discreción, tanto si dicho material pueda estar protegido o no por la ley. DonatingGoals
 podrá, a su sola discreción y en cualquier momento y por cualquier motivo, sin avisarle previamente, revisar, controlar o eliminar Contenido de usuario, pero sin estar obligada a ello.
<br>
<br>
Acceso a la red y dispositivos.
<br>
<br>
Usted es responsable de obtener el acceso a la red de datos necesario para utilizar los Servicios. Podrán aplicarse las tarifas y tasas de datos y mensajes de su red móvil si usted accede o utiliza los Servicios desde un dispositivo inalámbrico y usted será responsable de dichas tarifas y tasas. Usted es responsable de adquirir y actualizar el hardware compatible o los dispositivos necesarios para acceder y utilizar los Servicios y Aplicaciones y cualquier actualización de estos. DonatingGoals
 no garantiza que los Servicios, o cualquier parte de estos, funcionen en cualquier hardware o dispositivo particular. Además, los Servicios podrán ser objeto de disfunciones o retrasos inherentes al uso de Internet y de las comunicaciones electrónicas.
<br>
<br>
4. Donaciones
<br>
<br>
Usted entiende y confirma que está en plenas capacidades mentales para hacer uso de los Servicios de donaciones mutuas que ofrece DonatingGoals
 y que todo tipo de ayuda financiera será tratada bajo la legislación particular de cada País. Las donaciones son realizadas a conciencia del usuario y DonatingGoals
 en ningún momento se hace responsable por dichas ayudas financieras y todo riesgo económico que exista por el uso de los Servicios es asumido en su totalidad por el Usuario. El Usuario se hará cargo de los impuestos aplicables cuando se requiera por ley. Usted conserva el derecho de solicitar donaciones por valores inferiores al valor donado previamente y cualquier solicitud de donación es voluntaria y a consciencia suya. DonatingGoals
 responderá en consecuencia a cualquier falla de la plataforma de Servicios, en el caso que sea totalmente evidenciable y comprobable la falla.
<br>
<br>
Todas las donaciones son realizadas inmediatamente y la información para realizarla será facilitada por DonatingGoals
. Si se determina que su cuenta ha caducado o tiene un error de digitación DonatingGoals
 no se hace responsable por algún inconveniente o conflicto que existiere entre usuarios, sólo y únicamente prestará un soporte y ayuda para la solución de dichos conflictos a través de soporte@DonatingGoals
office.com. En el caso que exista algún comportamiento indebido, abusivo o considerado estafa por parte de alguno de los usuarios DonatingGoals
, a su sola discreción, está autorizado a bloquear las Cuentas de los usuarios y sus saldos representativos (Goals) mientras considere necesario para la resolución de las dificultades.
<br>
<br>
Cualquier manifestación por parte de DonatingGoals
 (en la página web de DonatingGoals
 o en los materiales de marketing de DonatingGoals
) en el sentido de que dar una donación es “voluntaria” NO PRETENDE QUE DonatingGoals
 EXIGE dar un importe o realizar transferencias de dinero a otros usuarios. Usted entiende y acepta que, mientras es libre de proporcionar una donación a otros usuarios, no tiene obligación de ello. Después de que haya recibido donaciones o haya realizado donaciones, tendrá la oportunidad de dejar comentarios adicionales sobre el Usuario o los Usuarios con quienes haya interactuado.
<br>
<br>
DonatingGoals
 de ninguna manera promete beneficios, ni da garantías de manera implícita o explícita. Usted confirma que entiende que DonatingGoals
 no es un negocio o una inversión, solo una comunidad donde las personas realizan donaciones mutuas con fines altruistas en beneficios de todos sus miembros. De igual manera usted entiende que al realizar donaciones, el valor donado no lo pueda recuperar, por esto DonatingGoals
 hace recomendaciones (En su página web y/o a través de cualquier canal de comunicación que posea) para la participación en la comunidad (p. ej., No realizar donaciones de altas sumas o valores críticos que afecten su economía personal)
<br>
<br>
5. Renuncias; Limitación de responsabilidad; Indemnidad.
<br>
<br>
RENUNCIA.
<br>
<br>

LOS SERVICIOS SE PROPORCIONAN “TAL CUAL” Y “COMO DISPONIBLES”. DonatingGoals
 RENUNCIA A TODA DECLARACIÓN Y GARANTÍA, EXPRESA, IMPLÍCITA O ESTATUTARIA, NO EXPRESAMENTE ESTABLECIDA EN ESTAS CONDICIONES, INCLUIDAS LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD, IDONEIDAD PARA UN FIN PARTICULAR Y NO VIOLACIÓN. ADEMÁS, DonatingGoals
 NO HACE DECLARACIÓN NI PRESTA GARANTÍA ALGUNA RELATIVA A LA FIABILIDAD, PUNTUALIDAD, CALIDAD, IDONEIDAD O DISPONIBILIDAD DE LOS SERVICIOS O CUALQUIERA DE LOS SERVICIOS, O QUE LOS SERVICIOS NO SERÁN INTERRUMPIDOS O ESTARÁN LIBRES DE ERRORES. DonatingGoals
 NO GARANTIZA LA CALIDAD, IDONEIDAD, SEGURIDAD O HABILIDAD DE LOS USUARIOS DE LA COMUNIDAD. USTED ACUERDA QUE TODO RIESGO DERIVADO DE SU USO DE LOS SERVICIOS Y CUALQUIER SERVICIO O BIEN SOLICITADO EN RELACIÓN CON AQUELLOS SERÁ ÚNICAMENTE SUYO, EN LA MÁXIMA MEDIDA PERMITIDA POR LA LEY APLICABLE.
<br>
<br>
LIMITACIÓN DE RESPONSABILIDAD.
<br>
<br>
DonatingGoals
 NO SERÁ RESPONSABLE DE DAÑOS INDIRECTOS, INCIDENTALES, ESPECIALES, EJEMPLARES, PUNITIVOS O EMERGENTES, INCLUIDOS EL LUCRO CESANTE, LA PÉRDIDA DE DATOS, LA LESIÓN PERSONAL O EL DAÑO A LA PROPIEDAD, NI DE PERJUICIOS RELATIVOS, O EN RELACIÓN CON, O DE OTRO MODO DERIVADOS DE CUALQUIER USO DE LOS SERVICIOS, INCLUSO AUNQUE DonatingGoals
 HAYA SIDO ADVERTIDO DE LA POSIBILIDAD DE DICHOS DAÑOS. DonatingGoals
 NO SERÁ RESPONSABLE DE CUALQUIER DAÑO, RESPONSABILIDAD O PÉRDIDA QUE DERIVEN DE: (I) SU USO O DEPENDENCIA DE LOS SERVICIOS O SU INCAPACIDAD PARA ACCEDER O UTILIZAR LOS SERVICIOS; O (ii) CUALQUIER TRANSACCIÓN O RELACIÓN ENTRE USTED Y CUALQUIER USUARIO, AUNQUE DonatingGoals
 HUBIERA SIDO ADVERTIDO DE LA POSIBILIDAD DE DICHOS DAÑOS. DonatingGoals
 NO SERÁ RESPONSABLE DEL RETRASO O DE LA FALTA DE EJECUCIÓN RESULTANTE DE CAUSAS QUE VAYAN MÁS ALLÁ DEL CONTROL RAZONABLE DE DonatingGoals
. EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE DonatingGoals
 HACIA USTED EN RELACIÓN CON LOS SERVICIOS POR TODOS LOS DAÑOS, LAS PÉRDIDAS Y LOS JUICIOS PODRÁ EXCEDER DE QUINIENTOS EUROS (USD 300).
<br>
<br>
USTED PODRÁ UTILIZAR LOS SERVICIOS DE DonatingGoals
 PARA REALIZAR Y SOLICITAR DONACIONES Y AYUDAS FINANCIERAS, PERO ACEPTA QUE DonatingGoals
 NO TIENE RESPONSABILIDAD ALGUNA HACIA USTED EN RELACIÓN CON CUALQUIER DONACIÓN O AYUDA FINANCIERA REALIZADA A USTED O POR USTED QUE NO SEA COMO SE HA ESTABLECIDO EXPRESAMENTE EN ESTAS CONDICIONES.
<br>
<br>
LAS LIMITACIONES Y LA RENUNCIA EN ESTE APARTADO 5 NO PRETENDEN LIMITAR LA RESPONSABILIDAD O ALTERAR SUS DERECHOS COMO USUARIO QUE NO PUEDAN EXCLUIRSE SEGÚN LA LEY APLICABLE.
<br>
<br>
Indemnidad.
<br>
<br>
Usted acuerda mantener indemnes, excluir de toda responsabilidad y responder frente a DonatingGoals
, sus colaboradores, usuarios y líderes por cualquier reclamación, demanda, pérdida, responsabilidad y gasto (incluidos los honorarios de abogados) que deriven de: (i) su uso de los Servicios o servicios o bienes obtenidos a través de su uso de los Servicios; (ii) su incumplimiento o violación de cualquiera de estas Condiciones; (iii) el uso por parte de DonatingGoals
 de su Contenido de usuario; o (iv) su infracción de los derechos de cualquier usuario.
<br>
<br>
6. Legislación aplicable; Arbitraje.
<br>
<br>
Salvo que aquí se especifique lo contrario, las presentes Condiciones se regirán e interpretarán exclusivamente en virtud de la legislación de los Países Bajos, con exclusión de sus normas sobre conflicto de leyes. La Convención de Viena sobre los Contratos de Compraventa Internacional de Mercaderías de 1980 (CISG) no se aplicará. Cualquier disputa, conflicto, reclamación o controversia, del tipo que sea, que resulte de las presentes Condiciones o que se relacione en gran parte con ellas, incluyendo las relativas a su validez, interpretación y exigibilidad (cualquier “Disputa”), deberán someterse forzosamente a procedimientos de mediación en virtud del Reglamento de Mediación de la Cámara de Comercio Internacional (“Reglamento de Mediación de la CCI”). Si dicha disputa no fuese solucionada en un plazo de sesenta (60) días desde la fecha en la que se formalice la solicitud de mediación en virtud del Reglamento de Mediación de la CCI, se hará referencia a dicha disputa y se solucionará exclusiva y definitivamente mediante arbitraje en virtud del Reglamento de Arbitraje de la Cámara de Comercio Internacional (“Reglamento de Arbitraje de la CCI”). Las disposiciones del Árbitro de Emergencia del Reglamento de la CCI no se aplicarán. La disputa será resuelta por un (1) árbitro nombrado a tal fin en virtud del Reglamento de la CCI. El lugar tanto para la mediación como para el arbitraje será Ámsterdam, Países Bajos, sin perjuicio de cualquier derecho que usted pudiera tener según el artículo 18 del Reglamento Brussels I bis (OJ EU 2012 L351/1) y/o el artículo 6:236n del Código Civil holandés. El idioma de mediación y/o arbitraje será el inglés, a no ser que usted no hable inglés, en cuyo caso la mediación y/o el arbitraje se llevarán a cabo en inglés y en su idioma materno. La existencia y el contenido de los procedimientos de mediación y arbitraje, incluidos los documentos e informes presentados por las partes, la correspondencia de la CCI, la correspondencia del mediador y la correspondencia, los pedidos y los laudos emitidos por el único árbitro deberán permanecer en estricta confidencialidad y no deberán ser revelados a ningún tercero sin el consentimiento expreso por escrito de la otra parte, a menos que: (i) la revelación al tercero sea razonablemente necesaria para llevar a cabo el procedimiento de mediación o arbitraje; y (ii) el tercero acepte incondicionalmente por escrito estar sujeto a la obligación de confidencialidad estipulada en el presente documento.
<br>
<br>
7. Otras disposiciones
<br>
<br>
Notificaciones.
<br>
<br>
DonatingGoals
 podrá notificar por medio de una notificación general en los Servicios, mediante un correo electrónico enviado a su dirección electrónica en su Cuenta o por comunicación escrita enviada a su dirección, según lo dispuesto en su Cuenta. Usted podrá notificar a DonatingGoals
 a la dirección de correo electrónico info@DonatingGoals
office.com.
<br>
<br>
Disposiciones generales.
<br>
<br>
No podrá ceder ni transferir estas Condiciones, en todo o en parte, sin el consentimiento previo por escrito de DonatingGoals
. Usted da su aprobación a DonatingGoals
 para ceder o transferir estas Condiciones, en todo o en parte, incluido a: (i) una subsidiaria o un afiliado; o (ii) un sucesor por fusión. No existe entre usted, DonatingGoals
 o cualquier usuario una empresa conjunta o relación de socios, empleo o agencia como resultado del uso de los Servicios entre usted y DonatingGoals
.
<br>
<br>
Si cualquier disposición de estas Condiciones se considerara ilegal, nula o inexigible, ya sea en su totalidad o en parte, de conformidad con cualquier legislación, dicha disposición o parte de esta se considerará que no forma parte de estas Condiciones, aunque la legalidad, validez y exigibilidad del resto de las disposiciones de estas Condiciones no se verá afectada. En ese caso, las partes deberán reemplazar dicha disposición ilegal, nula o inexigible, en todo o en parte por una disposición legal, válida y exigible que tenga, en la medida de lo posible, un efecto similar al que tenía la disposición ilegal, nula o inexigible, dados los contenidos y el propósito de estas Condiciones. Estas Condiciones constituyen el acuerdo íntegro y el entendimiento entre las partes en relación con el objeto y sustituye y reemplaza a todos los acuerdos anteriores o contemporáneos en relación con dicho objeto. En estas Condiciones, las palabras “incluido/a/os/as” e “incluye/n” significan “incluido, de forma meramente enunciativa”.
<br>
<br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>

  $("#country").intlTelInput({
    preferredCountries: ['ec', '', 'cl', 'us','pa', 'mx', 'co','ar', 've', 'pe', 'uy'], 
    utilsScript: "/js/utils.js"
  });

  $("#country").intlTelInput("loadUtils", "/js/utils.js");

  $("#country").change(function() {
    var intlNumber = $("#country").intlTelInput("getNumber");
    console.log("number is " + intlNumber );
    $("#country").val(intlNumber);
  });

  $(".selected-flag").click(function(){
    var intlNumber = $("#country").intlTelInput("getNumber");
    console.log("number is " + intlNumber );
    $("#country").val(intlNumber);
  });

  function disableSubmit() {
    $("#user_terms").attr("disabled", true);
  }

  function activateButton(element) {
    debugger;
    if(element.checked) {
      $(".button.button-md.btn-block.button-primary").attr("disabled", false);
     }
     else  {
     $(".button.button-md.btn-block.button-primary").attr("disabled", true);
    }
  }
</script>

 



