                <table class='table table-bordered table-striped responsive-table'>
                    <thead class="blue-text text-darken-4">
                    <tr>
                        <th>Code</th>
                        <th>Value</th>
                        <th>Status</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Donation</th>
                        <th>Request</th>
                        <th>Receipt</th>
                        <th colspan="3"></th>
                    </tr>
                    </thead>
                    <tbody class="anchorFixcolor hoverTable">
                    <% transactions.each do |trans| %>
                        <tr>
                            <% @sender = User.find(trans.sender_id) %>
                            <% @receiver = User.find(trans.receiver_id) %>
                            <% @donation = Donation.find(trans.donation_id) %>
                            <% @request= Request.find(trans.request_id) %>

                            <td><%= trans.id %></td>
                            <td><%=  trans.value%></td>
                            <% if trans.status %>
                                <td>completed</td>
                            <% else %>
                                <td>incomplete</td>
                            <% end %>
                            <td><%= link_to @sender.name, user_show_path(@sender.id) %></td>
                            <td><%= link_to @receiver.name, user_show_path(@receiver.id) %></td>
                            <td><%= link_to @donation.id, donation_path(@donation.id) %></td>
                            <td><%= link_to @request.id, request_show_path(@request.id) %></td>
                            <% if trans.invoice.url.present? %>
                                <td><%= link_to 'invoice', trans.invoice.url %></td>
                            <%else%>
                                <td></td>
                            <%end%>

                            <% if trans.status %>
                                <td> <%= link_to "Re-confirmar para re-programar pago", transaction_confirm_path(transaction_id: trans.id), method: :get,  data: { confirm: 'Are you sure?' } %></td>
                            <%elsif trans.completed ==  "canceled"%>
                                <td> <%= link_to "Confirmar asi este cancelada", transaction_confirm_path(transaction_id: trans.id), method: :get,  data: { confirm: 'Are you sure?' } %></td>
                            <%else%>
                                <td> <%= link_to "Confirm transaction", transaction_confirm_path(transaction_id: trans.id), method: :get,  data: { confirm: 'Are you sure?' } %></td>
                            <%end%>
                            <td>
                                <%= link_to "Devolver saldo", restore_balance_path(transaction_id: trans.id), method: :post,  data: { confirm: 'Estas seguro de devolver el saldo?' } %></td>
                            </td>
                            <td>
                                <%= link_to "Cancelar transacci贸n", cancel_transaction_path(transaction_id: trans.id), method: :post,  data: { confirm: 'Estas seguro de cancelar la transacci贸n' } %></td>
                            </td>
                            <td>
                                <%= link_to "Descancelar transacci贸n", set_as_pending_path(transaction_id: trans.id), method: :post,  data: { confirm: 'Estas seguro de convertir en pendiente la transacci贸n' } %></td>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>