
<%transc_color = 'panel-headingtwo'%>
<%transc_border = 'panel-secondaryred'%>
<%if transaction.status%>
   <%transc_color = 'panel-heading'%>
   <%transc_border = 'panel-secondary'%>
<%end%>

<div class="transactions-container">
    <div class="panel-transactions <%=transc_border%> container-fluid">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 30px;">Transacción <%= transaction.id %></h3>
            <i class="fa fa-exchange" aria-hidden="true" style="color: rgba(255, 255, 255, 0.54);"></i>
        </div>
        <table class="table table-condensed table-responsive table-user-information">
            <tbody>
            <tr>
                <td class="left-tab" style="text-align:left;">Goal:</td>
                <td><%= transaction.value %> US$</td>
            </tr>

            <%if transaction.status == false && transaction.completed === "pending"%>
              <tr>
                <%@remaining = transaction.created_at + 72.hours %>
                <%@time_now = DateTime.now %>
                <%@time_left = (((@remaining - @time_now)/60)/60)%>
                <%@time_left%>
                <td class="left-tab" style="text-align:left;">Tiempo Restante:</td>
                <td><%=@time_left.round(1)%> horas</td>
              </tr>
            <%end%>
            <tr>
              <td class="left-tab" style="text-align:left;">Estado:</td>
              <% if transaction.status%>
                <td>Completada</td>
              <% elsif transaction.status == false && transaction.completed == "pending"  %>
                <td>Pendiente </td>
              <% elsif transaction.status == false && transaction.completed == "canceled"  %>
                <td>Cancelada </td>
              <% end%>
            </tr>
            <tr>
                <td class="left-tab" style="text-align:left;">Nombre Receptor:</td>
                <td><%= User.find(transaction.receiver_id).name %></td>
            </tr>
            <tr>
                <td class="left-tab" style="text-align:left;">Telefono Receptor:</td>
                <td><%= User.find(transaction.receiver_id).phone %></td>
            </tr>

            <tr>
                <td class="left-tab" style="text-align:left;">Email Receptor:</td>
                <td><%= User.find(transaction.receiver_id).email %></td>
            </tr>
            <tr>
                <td class="left-tab" style="text-align:left;">Monedero Receptor</td>
                <td style="font-size:11px"><%= User.find(transaction.receiver_id).btc %></td>
            </tr>

            </tbody>
        </table>

        <div class="buttons-container">
         

          <div>
            <div class="">
              <% if transaction.invoice.url %>
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"  style="margin-top:10px;" data-target="#img<%=transaction.id%>"><i class="fa fa-file-text-o i-form" aria-hidden="true" style="margin: 0px 20px 0px 0px;"></i>Ver recibo</button>
              <% end  %>
            </div>
          </div>
        </div>
    </div>
</div>


<!-- Show Image Modal -->
<% if transaction.invoice.url.present? %>
    <div id="img<%=transaction.id%>" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Screenshot</h4>
                </div>
                <div class ="request-donation-form">
                    <%= image_tag(transaction.invoice.url)%>
                </div>
            </div>
        </div>
    </div>
<%end%>
