
<%color = 'own-welltwo'%>
<%backgr_color = 'back-welltwo'%>
<%if donation.completed%>
   <%color = 'own-well'%>
   <%backgr_color = 'back-well'%>
<%end%>

  <div class="well <%=color%> span8 offset2">
      <div class="row-fluid user-row">
          <div class="span10">
            <i class="fa fa-paper-plane" aria-hidden="true" style="font-size: 60px; color: rgb(29, 90, 150);"></i>
            <div style="font-size: 20px; color: #202223;">
              <strong>C贸digo: DGDN<%= donation.id %></strong><br>
              <strong >Goal: <%= donation.value %></strong>
            </div>
          </div>
          <div class="span1 dropdown-user" data-for=".<%= donation.id%>">
            <i class="icon-chevron-down text-muted"></i>
          </div>
      </div>
      <div class="row-fluid user-infos <%= donation.id%>">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">Informaci贸n Donaci贸n</h3>
                  <i class="fa fa-info-circle" aria-hidden="true" style="color: rgba(255, 255, 255, 0.54);"></i>
              </div>
              <div class="panel-body">
                  <div class="row-fluid">
                      <div class="span6">
                          <table class="table table-condensed table-responsive table-user-information">
                              <tbody>
                              <tr>
                                  <td class="left-tab" style="text-align:left;">Goal:</td>
                                  <td><%= donation.value %></td>
                              </tr>
                              <tr>
                                  <td class="left-tab" style="text-align:left;">Dia:</td>
                                  <td><%= donation.created_at.to_date %></td>
                              </tr>
                              <tr>
                                  <td class="left-tab" style="text-align:left;">Estado:</td>
                                  <% if donation.completed %>
                                      <td>Completed</td>
                                  <% elsif donation.status == "pending"  %>
                                      <td>Pendiente por ser requerida </td>
                                  <% else donation.status == "completed"  %>
                                      <td>Transaci贸n pendiente por completar</td>
                                  <% end %>
                              </tr>
                              <tr>
                                  <td class="left-tab" style="text-align:left;">Valor pendiente por ser requerido</td>
                                  <td><%= donation.pending %></td>
                              </tr>
                              <tr>
                                  <td class="left-tab" style="text-align:left;">Total de transaciones</td>
                                  <td><%= donation.transactions.count %></td>
                              </tr>
                              <tr>
                                  <td class="left-tab" style="text-align:left;"> Transaciones completas</td>
                                  <td><%= donation.transactions.where(status: true).count %></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

              <div class="transactions-container container-fluid" style="padding:0px; margin:0px;">
                  <!-- <div class="panel-transactions panel-secondary">
                    <h3 class="panel-title">Donation transactions</h3> -->
                    <% donation.transactions.each do |transaction| %>
                      <%=  render :partial => 'users/admin_transactions_container', locals: {transaction: transaction}%>
                    <% end %>
                  <!-- </div> -->
              </div>
          </div>
      </div>
  </div>

        




         