  <nav class="own-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Account Balance</a>
        </div>
    </div>
  </nav>


  <div class="blog-area bg-light blog-page"> 
    <div class="col-md-12">
        <div class="pt-20 text-center">

        <div class="donations-container"> 
            <h1>Donations</h1>
            
                <table class='table table-bordered table-striped responsive-table'>
                    <thead class="blue-text text-darken-4">
                    <tr>
                        <th>Donation</th>
                        <th>Value</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th colspan="3"></th>
                    </tr>
                    </thead>

                    <tbody class="anchorFixcolor hoverTable">
                    <% @donations.each do |donation| %>
                        <tr>
                            <td>DG<%= donation.id %></td>
                            <td><%= donation.value %></td>
                            <td><%= donation.status %></td>
                            <td><%= donation.created_at.to_date %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
 
        </div>


        <div class="donations-container"> 
            <h1>Requests</h1>
            <table class='table table-bordered table-striped responsive-table'>
                    <thead class="blue-text text-darken-4">
                    <tr>
                        <th>Donation</th>
                        <th>Value</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th colspan="3"></th>
                    </tr>
                    </thead>

                    <tbody class="anchorFixcolor hoverTable">
                    <% @requests.each do |request| %>
                        <tr>
                            <td>RQ<%= request.id %></td>
                            <td><%= request.value %></td>
                            <td><%= request.status %></td>
                            <td><%= request.created_at.to_date %></td>
                         </tr>
                    <% end %>
                    </tbody>
            </table>

        </div>

        </div>       
    </div>    
  </div>

 

