


<%if params[:mensaje] %>
    <script>     
      swal({ 
      title: "Ayúdanos a seguir funcionando",
      html:
            'Ayudamos a cumplir tus metas, si deseas puedes entrar al la sección de ' +
            '<a href="/panel_donacion">ayúdanos</a> ' +
            'para saber como puedes aportar para que Donating Goals continúe funcionando',
      type: "info" 
      }).then(function() {
        window.location.href = "/panel_donacion";
      });
    </script>
<%else%>

  <script>     
     swal({
          html: '<img src="/images/donatingoals.png" alt="" style="width:50%;">' + '<br>' +
             '<h1>COMUNICADO OFICIAL  DOMINGO 07/01/2018.</h1>' +
             '<h6 style="text-align: justify;">Saludamos a todos nuestros participantes y les agradecemos de antemano toda su valiosa confianza en DONATING GOALS.</h6>' + 
             '<h6 style="text-align: justify;">Este comunicado es OFICIAL y es para comunicarles, que estamos listos para operar de nuevo evitando el alto costo de las comisiones en los envíos en la red de billeteras bitcoin, lo cual es una gran noticia para poder garantizar la fluidez que veníamos logrando todos en el ofrecimiento y retorno de las ayudas que circulan entre los miembros de esta gran comunidad. </h6>' + 
             '<h6 style="text-align: justify;">Recordemos que sincronizando todas nuestras billeteras bitcoin con el operador XAPO anulamos dos amenazas a nuestra comunidad: los altos costos de envío BTC y las demoras de las confirmaciones de transacciones. Por otra parte, esta misma semana activaremos los formularios de registro de billeteras Bitcoin Cash y Ethereum, con lo cual damos la bienvenida a un intercambio mucho más diverso de cryptomonedas entre todos los miembros de la Comunidad DG.</h6>' + 
             '<h6 style="text-align: justify;">Les anunciamos que aceleraremos la expansión a la mayor cantidad de naciones que podamos adherir a este modelo de generación de riqueza y para ello, se irán dando modificaciones en nuestra página web, su backoffice y la generación de materiales audiovisuales en varios idiomas. Admitimos que en este ítem hemos tenido demoras, pero les comentamos que han sido ajenas a nuestro control debido a que los terceros involucrados tomaron descansos relacionados a las fiestas de navidad y fin de año. Sin embargo, ya estamos listos y nuestros colaboradores externos retomaran nuestro proyecto a partir del 9 de enero.</h6>' + '<br>' +
             '<h6 style="text-align: justify;">Por último, como miembros TODOS de la comunidad poseemos TODOS un problema de reactivación del flujo de fondos, el cual consiste en que en el momento los más de 3.000 miembros de la comunidad nos debemos las ayudas brindadas debido a la ausencia de ofrecimientos en este lapso de tiempo. Reactivarnos implica no solo recuperar nuestros fondos sino poner a correr la dinámica de ofrecimientos de la misma manera como lo venía ocurriendo antes de la crisis de las transacciones bitcoin.</h6>' + '<br>' +
             '<h5> Para lograr lo anterior, se instaura la siguiente regla de reactivación a cuentas antigüas (cuentas ya existentes en el sistema):</h5>' + '<br>' +
             '<h6 style="text-align: justify;">REGLA DE REACTIVACIÓN: Vincular 2 referidos directos cuya ayuda ofrecida sea igual o superior a la ayuda ofrecida en tu cuenta. Al día siguiente de que cumplas esta regla podrás solicitar la ayuda correspondiente a tu saldo actual. NOTA IMPORTANTE: Esta regla solo aplica para la recuperación de los saldos bonos de red actuales. Las ayudas ofrecidas desde el día 21 de diciembre en adelante serán pagadas sin aplicar la REGLA DE REACTIVACIÓN.</h6>' +
             '<h6 style="text-align: justify;">NOTA IMPORTANTE: Esta regla solo aplica para la recuperación de los saldos bonos de red actuales. Las ayudas ofrecidas desde el día 21 de diciembre en adelante serán pagadas sin aplicar la REGLA DE REACTIVACIÓN..</h6>' + 
             '<h6 style="text-align: justify;">REGLA DE COMPROMISO DE LÍDERES: Además, en vista de que los líderes debemos dar ejemplos de solidaridad y compromiso con la pronta recuperación de los fondos de los miembros de nuestra red, se congelarán los bonos de red pendientes al día de hoy hasta que la fluidez de los fondos sea la apta para proceder al pago de los mismos, estimamos que esto ocurra en el mes de febrero. </h6>' + 
             '<h6 style="text-align: justify;">Por último, recordemos que solo podemos recibir ayudas si poseemos una cuenta XAPO.</h6>' + 
             '<h6 style="text-align: justify;">Estamos afrontando un gran reto frente a nuestro propósito de ayudar a lograr tus sueños más descabellados, y con tu voluntad lograremos avanzar más allá de las actuales dificultades que se presentan día a día en el mundo de las criptomonedas. Te invitamos a unirte a nosotros, y ante todo, a creer que unidos y fortalecidos como comunidad podemos lograr mucho más que actuando solos. Muy pronto al ver que nuevamente recibes en tu billetera tu ayuda requerida, gritaremos con más fuerza: </h6>' + '<br>' +
             '<h5>¡ ¡ ¡DONATING GOALS, SUEÑO CUMPLIDO ! ! !.</h5>' 
          
        });
    </script>

<%end%>


 

  
  
  
  
  <nav class="own-navbar">
    <div class="container-fluid" style="padding:0px;">
      <!-- menu mobile display -->
        <button class="navbar-toggle own-btn-nav" data-target="navbar-collapse" data-toggle="collapse">
          <span class="icon icon-bar fa fa-bars"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>

        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Zona De Trabajo</a>
        </div>

        <div style="float:right; margin-right:20px;">
          <script type="text/javascript">
          crypt_single_base_currency = "Bitcoin (BTC)";crypt_single_target_currency = "US Dollar (USD)";crypt_single_font_family = "Verdana";crypt_single_font_size = "small";</script>
          <script type="text/javascript" src="https://www.cryptonator.com/ui/js/widget/single_widget.js"></script>
        </div>
    </div>
  </nav>


  <div class="container-fluid" style="padding:0px;">
    <div class="">
      <div class="">
          <div class="pt-20 text-center">
            <div class="">
              <div class="col-md-5 donations-container col-xs-12" style="margin-left: 45px;">
                <div class="container-fluid container-title">
                  <h1 style="text-shadow: 2px 3px 5px rgba(62, 61, 61, 0.71); margin: 10px 0px;">Enviar</h1>
                  <div>
                    <%= form_tag("/send_donation", method: "post") do %>
                    <%= number_field_tag :value, nil,  class: "input-form", id: "valor-donation", placeholder: 'USD'%>
                    <%= submit_tag("Enviar donación", class: "btn btn-primary btn-primary btn-sm btn-form send-donation")%>
                    <% end %>
                  </div>
                </div>

                <div class ="donations-list col-md-12 border-list">
                    <% @donations.each do |donation| %>
                        <div class ="donations-list" style="margin: 50px 15px 15px 15px;">
                            <%=render :partial => 'donation_list', locals: {donation: donation}%>
                        </div>
                    <% end %>
                </div>
              </div>

              <div class="col-md-5 col-md-offset-1 donations-container col-xs-12">
                <div class="container-fluid container-title">
                  <h1 style="text-shadow: 2px 3px 5px rgba(62, 61, 61, 0.71); margin: 10px 0px;">Requerir</h1>
                  <div>
                      <div class ="request-donation-form">
                          <%= form_tag("/request_donation", method: "post") do %>
                          <%= number_field_tag :value, nil,  class: "input-form", id: "valor-request",  placeholder: 'USD' %>
                          <%= submit_tag("Requerir donación", class: "btn btn-primary btn-primary btn-sm btn-form request-donation") %>
                          <% end %>
                      </div>
                  </div>
                </div>
                <div class ="donations-list col-md-12 border-list">
                    <% @requests.each do |request| %>
                        <div class ="donations-list" style="margin: 50px 15px 15px 15px;">
                            <%=   render :partial => 'requests_list', locals: {request: request}%>
                        </div>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $(".send-donation").click(function(event) {
      var valueDonation=document.getElementById("valor-donation").value;
      $('.send-donation').data('confirm', "Confirmar envio de donación por " + valueDonation + " USD?")
    });  

     $(".request-donation").click(function(event) {
      var valueDonation=document.getElementById("valor-request").value;
      $('.request-donation').data('confirm', "Confirmar solicitud de donación por " + valueDonation + " USD?")
    });     
  });    
</script>
