<%if params[:mensaje] %>
    <script>     
      swal({ 
      title: "Ayúdanos a seguir funcionando",
      html:
            'Ayudamos a cumplir tus metas, si deseas puedes entrar al la sección de ' +
            '<a href="/panel_donacion">ayudanos</a> ' +
            'para saber como puedes aportar para que Donating Goals continúe funcionando',
      type: "info" 
      }).then(function() {
        window.location.href = "/panel_donacion";
      });
    </script>
<%end%>
 
  
  
  
  
  
  <nav class="own-navbar">
    <div class="container-fluid" style="padding:0px;">
      <!-- menu mobile display -->
        <button class="navbar-toggle own-btn-nav" data-target="navbar-collapse" data-toggle="collapse">
          <span class="icon icon-bar fa fa-bars"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>

        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Zona De Trabajo</a>
        </div>

        <div style="float:right; margin-right:20px;">
          <script type="text/javascript">
          crypt_single_base_currency = "Bitcoin (BTC)";crypt_single_target_currency = "US Dollar (USD)";crypt_single_font_family = "Verdana";crypt_single_font_size = "small";</script>
          <script type="text/javascript" src="https://www.cryptonator.com/ui/js/widget/single_widget.js"></script>
        </div>
    </div>
  </nav>


  <div class="container-fluid" style="padding:0px;">
    <div class="">
      <div class="">
          <div class="pt-20 text-center">
            <div class="">
              <div class="col-md-5 donations-container col-xs-12" style="margin-left: 45px;">
                <div class="container-fluid container-title">
                  <h1 style="text-shadow: 2px 3px 5px rgba(62, 61, 61, 0.71); margin: 10px 0px;">Enviar</h1>
                  <div>
                    <%= form_tag("/send_donation", method: "post") do %>
                    <%= number_field_tag :value, nil,  class: "input-form", id: "valor-donation", placeholder: 'USD'%>
                    <%= submit_tag("Enviar donación", class: "btn btn-primary btn-primary btn-sm btn-form send-donation")%>
                    <% end %>
                  </div>
                </div>

                <div class ="donations-list col-md-12 border-list">
                    <% @donations.each do |donation| %>
                        <div class ="donations-list" style="margin: 50px 15px 15px 15px;">
                            <%=render :partial => 'donation_list', locals: {donation: donation}%>
                        </div>
                    <% end %>
                </div>
              </div>

              <div class="col-md-5 col-md-offset-1 donations-container col-xs-12">
                <div class="container-fluid container-title">
                  <h1 style="text-shadow: 2px 3px 5px rgba(62, 61, 61, 0.71); margin: 10px 0px;">Requerir</h1>
                  <div>
                      <div class ="request-donation-form">
                          <%= form_tag("/request_donation", method: "post") do %>
                          <%= number_field_tag :value, nil,  class: "input-form", id: "valor-request",  placeholder: 'USD' %>
                          <%= submit_tag("Requerir donación", class: "btn btn-primary btn-primary btn-sm btn-form request-donation") %>
                          <% end %>
                      </div>
                  </div>
                </div>
                <div class ="donations-list col-md-12 border-list">
                    <% @requests.each do |request| %>
                        <div class ="donations-list" style="margin: 50px 15px 15px 15px;">
                            <%=   render :partial => 'requests_list', locals: {request: request}%>
                        </div>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $(".send-donation").click(function(event) {
      var valueDonation=document.getElementById("valor-donation").value;
      $('.send-donation').data('confirm', "Confirmar envio de donación por " + valueDonation + " USD?")
    });  

     $(".request-donation").click(function(event) {
      var valueDonation=document.getElementById("valor-request").value;
      $('.request-donation').data('confirm', "Confirmar solicitud de donación por " + valueDonation + " USD?")
    });     
  });    
</script>
