  <nav class="own-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">MY REFERRALS</a>
        </div>
    </div>
  </nav>


  <div class="container-fluid" style="margin-top: 40px;">
    <div class="col-md-12">
      <div class="pt-20 text-center">
         <table class='table table-hover table-striped responsive-table'>
              <thead class="blue-text text-darken-4">
              <tr>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Nivel</th>
                  <th>Estado</th>
              </tr>
              </thead>

              <tbody class="anchorFixcolor hoverTable">

                <% @hijos_1.each do |user| %>
                    <tr>
                        <td>
                          <div class="cardId-ref">
                            DG<%= user.name %>
                            </div>
                        </td>
                        <td><%= user.email %></td>
                        <td>1</td>
                        <td class="color-act">Activo</td>
                    </tr>
                <% end %>
                <% @hijos_2.each do |user| %>
                    <tr>
                      <td>
                        <div class="cardId-ref">
                          DG<%= user.name %>
                          </div>
                      </td>
                        <td><%= user.email %></td>
                        <td>2</td>
                        <td class="color-act">Activo</td>
                    </tr>
                <% end %>
                <% @hijos_3.each do |user| %>
                    <tr>
                      <td>
                        <div class="cardId-ref">
                          DG<%= user.name %>
                          </div>
                      </td>
                        <td><%= user.email %></td>
                        <td>3</td>
                        <td class="color-act">Activo</td>
                    </tr>
                <% end %>
                <% @hijos_4.each do |user| %>
                    <tr>
                      <td>
                        <div class="cardId-ref">
                          DG<%= user.name %>
                          </div>
                      </td>
                        <td><%= user.email %></td>
                        <td>4</td>
                        <td class="color-act">Activo</td>
                    </tr>
                <% end %>
                <% @hijos_5.each do |user| %>
                    <tr>
                      <td>
                        <div class="cardId-ref">
                          DG<%= user.name %>
                          </div>
                      </td>
                        <td><%= user.email %></td>
                        <td>5</td>
                        <td class="color-act">Activo</td>
                    </tr>
                <% end %>
                <% @hijos_6.each do |user| %>
                    <tr>
                      <td>
                        <div class="cardId-ref">
                          DG<%= user.name %>
                          </div>
                      </td>
                        <td><%= user.email %></td>
                        <td>6</td>
                        <td class="color-act">Activo</td>
                    </tr>
                <% end %>
              </tbody>
          </table>
        </div>
        <div class="pt-20 text-center">
          <div class="" style="margin-top:40px;">
            <table class='table table-hover table-striped responsive-table'>
                <thead class="blue-text text-darken-4">
                <tr>
                    <th>Nivel</th>
                    <th>Total donado</th>
                    <th>Total bono</th>
                </tr>
                </thead>

                <tbody class="anchorFixcolor hoverTable">

                      <tr>
                          <td>1</td>
                          <td><%= @amount_level_1 %></td>
                          <td><%= number_with_precision( @amount_level_1*0.1, precision: 3)%></td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td><%= @amount_level_2 %></td>
                          <td><%= number_with_precision( @amount_level_2*0.05, precision: 3)%></td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td><%= @amount_level_3 %></td>
                          <td><%= number_with_precision( @amount_level_3*0.03, precision: 3)%></td>
                      </tr>

                      <tr>
                          <td>4</td>
                          <td><%= @amount_level_4 %></td>
                          <td><%= number_with_precision( @amount_level_4*0.015, precision: 3)%></td>
                      </tr>

                      <tr>
                          <td>5</td>
                          <td><%= @amount_level_5 %></td>
                          <td><%= number_with_precision( @amount_level_5*0.01, precision: 3)%></td>
                      </tr>

                       <tr>
                          <td>6</td>
                          <td><%= @amount_level_6 %></td>
                          <td><%= number_with_precision( @amount_level_6*0.001, precision: 3)  %></td>
                      </tr>

                </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
