

  <nav class="own-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Users Details</a>
        </div>
    </div>
  </nav>


  <div class="blog-area bg-light blog-page"> 
    <div class="col-md-12">
        <div class="pt-20 text-center">
            
          <div class="col-md-10 col-md-offset-1">
                <div class="donations-container col-md-6 col-md-offset-3"> 
                        <p>Nombre: <%= @user.name %></p>
                        <p>Email: <%= @user.email %></p>
                        <p>Saldo: <%= @user.saldo %></p>
                        <p>Telefono: <%= @user.phone %></p>
                        <p>Valor total donado: <%= @donations_total %></p>
                        <p>Valor total solicitado: <%= @requests_total %></p> 
                        <p>Numero de donaciones: <%= @donations_number %></p>
                        <p>Numero de donaciones completadas: <%= @completed_donations_number %></p>
                        <p>Numero de solicitudes: <%=  @requests_number %></p>       
                        <p>Numero de solicitudes completadas: <%=  @completed_requests_number  %></p>                        
                </div>

                <div class="col-md-6">
                    <h1>Donations</h1>
                    <div class ="donations-list col-md-12">
                        <% @donations.each do |donation| %>
                            <div class ="donations-list" style="border: solid 1px; margin: 15px;">
                                <%=   render :partial => 'admin_donation_list', locals: {donation: donation}%>
                            </div>
                        <% end %>
                    </div>
                </div>


                <div class="col-md-6">
                    <h1>Request</h1>
                    <div class ="donations-list col-md-12">
                        <% @requests.each do |request| %>
                            <div class ="donations-list" style="border: solid 1px; margin: 15px;">
                                <%=   render :partial => 'admin_request_list', locals: {request: request}%>
                            </div>
                        <% end %>
                    </div>
                </div>


        </div>       
    </div>    
  </div>

 

