<h2 class="text-center" style="padding-top: 290px">Recuperar contraseña?</h2>
<div class="container" style="width: 50%; margin: 0 auto">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>
	  <br>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>
	  <br>
	  <div class="actions" style="padding-bottom: 190px; width:25%; margin: 0 auto;" >
	    <%= f.submit "Enviar", class: "btn  btn-sm btn-success" %>
	  </div>
	<% end %>
</div>
