<nav class="own-navbar">
  <div class="container-fluid">
    <!-- menu mobile display -->
      <button class="navbar-toggle own-btn-nav" data-target="navbar-collapse" data-toggle="collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Mensajes</a>
      </div>

      <div style="float:right; margin-right:20px;">
          <script type="text/javascript">
          crypt_single_base_currency = "Bitcoin (BTC)";crypt_single_target_currency = "US Dollar (USD)";crypt_single_font_family = "Verdana";crypt_single_font_size = "small";</script>
          <script type="text/javascript" src="https://www.cryptonator.com/ui/js/widget/single_widget.js"></script>
        </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="ui-segment">
    <h3 class="DonationsTitle text-center"><i class="fa fa-envelope-o mail-icon" aria-hidden="true"></i> Nuevos mensajes</h3>
    <div class="row">
      <div class="col-xs-12">
        <div class="messages-recived">
          <div class="row">

            <div class="col-md-4 col-xs-6">
              <p class="text-center titulos_chat">
                <i class="fa fa-user" aria-hidden="true"></i>
                Nombre usuario
              </p>
            </div>

            <div class="col-md-4 hidden-xs">
              <p class="text-center titulos_chat">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                Último mensaje
              </p>
            </div>

            <div class="col-md-4 col-xs-6">
              <p class="text-center titulos_chat">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Hora mensaje
              </p>
            </div>
          </div>

          <div class="row" style="margin:40px!important;">
            <% @chats.each do |chat| %>
              <%unless chat.messages.empty?%>
                <% if chat.sender_id == current_user.id || chat.recipient_id == current_user.id %>
                  <% if chat.sender_id == current_user.id %>
                    <% recipient = User.find(chat.recipient_id) %>
                  <% else %>
                    <% recipient = User.find(chat.sender_id) %>
                  <% end %>
                  <div class="col-md-4 col-xs-6" style="padding: 5px;">
                    <p class="text-center col-chat" style="border-bottom: 1px solid rgba(0, 0, 0, 0.18);">
                      <span class="chat-title">
                        <%= link_to recipient.name[0,15].html_safe, chat_messages_path(chat)%>
                      </span>
                    </p>
                  </div>
                   <div class="col-md-4 hidden-xs" style="padding: 5px;">
                    <p class="text-center col-chat" style="border-bottom: 1px solid rgba(0, 0, 0, 0.18);">
                      <%if !chat.messages.empty?%>
                        <span class="chat-title">
                          <%=link_to chat.messages.last.body[0,15].html_safe, chat_messages_path(chat)%>
                        </span>
                      <%else%>
                        <span>No tienes mensajes</span>
                      <%end%>
                    </p>
                  </div>
                   <div class="col-md-4 col-xs-6" style="padding: 5px;">
                    <p class="text-center col-chat" style="border-bottom: 1px solid rgba(0, 0, 0, 0.18);">
                      <%if !chat.messages.empty?%>
                      <span class="chat-title">
                        <%= link_to chat.messages.last.created_at.strftime("%m/%d/%y  %H:%M:%S"), chat_messages_path(chat)%>
                      </span>

                       <%else%>
                        <span> No tienes mensajes</span>
                      <%end%>
                    </p>
                  </div>
                <% end %>
              <%end%>
            <% end %>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
         <div class="ui segment">
            <h3><i class="fa fa-user-secret" aria-hidden="true"></i> Usuarios disponibles</h3>
            <br>
            <div class="text-center">
              <% @users.first(5).each do |user| %>
                <% if user.id != current_user.id %>
                <div class="item">
                  <div class="row">
                    <div class="col-md-6">
                      <%= button_to chats_path(sender_id: current_user.id, recipient_id: user.id), class: 'chat-button' do %>
                        <p class="iniciar-chat">
                          <i class="fa fa-weixin" aria-hidden="true"></i>
                           <%= user.email %>
                        </p>
                      <%end%>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
            <br>
            <%= button_to chats_path(sender_id: current_user.id, recipient_id: @admin.ids.first), class: 'button button-primary button-sm' do %>
              <p>
                <i class="fa fa-plug" aria-hidden="true"></i>
                Soporte técnico
              </p>
            <%end%>
          </div>
      </div> -->
    </div>
  </div>
</div>
